@media only screen and (max-width: 600px) {
    .small1 {
        display: inline-block !important;
        width: 8.33333% !important;
    }

    .small12 {
        display: inline-block !important;
        width: 100% !important;
    }

}